@charset "UTF-8";
/* DETAIL 제품 상세 페이지 */
.detail_wrap {
	position:relative;
	width:100%;
}


/* 상세 상단 */
.detail_head {}
.detail_thum {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	display:inline-block;
	width:700px;
	height:100%;
	vertical-align:middle;
}
.detail_cont {
	position:relative;
	display:inline-block;
	width:335px;
	padding-left:700px;
	vertical-align:middle;
	margin-top:40px;
}
.detail_cont h2 {}
.detail_cont h2 .brand {
	display:block;
	margin-bottom:18px;
}
.detail_cont h2 .brand img {
	display:block;
	vertical-align:top;
}
.detail_cont h2 .name {
	display:block;
	font-weight:400;
	font-size: 26px;
	color: #000;
	line-height:38px;
	white-space:pre-line;
}

/* 상세 페이지 정보 리스트_가격, 평점 등*/
.detail_cont_list .rating {
	padding:10px 0;
	line-height:20px;
}
.detail_cont_list .price {}
.detail_cont_list .price strong,
.detail_cont_list .price del {
	display:inline-block;
	font-size:22px;
	letter-spacing:-0.5px;
	vertical-align:top;
}
.detail_cont_list .price strong {
	color:#000;
	font-weight:400;
	line-height:33px;
}
.detail_cont_list .price del {
	color:rgba(155, 155, 155, 0.81);
	margin-left:10px;
	font-weight:300;
}
.detail_cont_list .price .icon {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	line-height:33px;
}
.detail_cont_list .price .icon img {
	vertical-align:middle;
}

/* 상세페이지 옵션 */
.detail_cont_opt {}
.detail_cont_opt .opt_tit {
	color:#000;
	font-size:13px;
	font-weight:bold;
	line-height:19px;
	margin:26px 0 10px;
}
.detail_cont_opt .opt_tit .msg {
	font-weight:300;
	color:#8F8F8F;
	float:right;
}
.detail_cont_opt .opt_tit .msg strong {
	font-weight:300;
	color:#f6a623;
}

/* 상세 페이지 버튼 */
.detail_order_wrap {
	margin-top:35px;
	height:50px;
}
.detail_order_wrap a {
	float:right;
}
.detail_order_wrap a:first-child {
	float:left;
}

/* 인포 그래픽 */
.info_icon_area {
	position:relative;
	padding:60px 0;
	margin-top:30px;
}
.info_icon_area:after {
	content:" ";
	position:absolute;
	top:0;
	left:50%;
	width:1px;
	height:42px;
	background-color:#000;
}
.info_icon_area > ul {
	font-size:0;
}
.info_icon_area > ul > li {
	position:relative;
	display:inline-block;
	width:33.334%;
	text-align:center;
	padding:5px 0;
	vertical-align:middle;
}
.info_icon_area > ul > li > span {
	display:block;
	color:#000;
	font-size:12px;
	line-height:27px;
}
.info_icon_area .info_title {
	display:inline-block;
	font-size: 14px;
	font-weight: 600;
	font-family: 'texgyreadventorbold_italic';
	text-align: center;
	color: #000000;
}
/* hover Box 위치 설정 */
/* 2번 라인 */
.info_icon_area ul > li:nth-child(3n-1) .info_detail_box,
.info_icon_area ul > li:nth-child(3n-1) .info_detail_box:after {
	left:50%;
	margin-left:-197px;
}
.info_icon_area ul > li:nth-child(3n-1) .info_detail_box:after {
	margin-left:-10px;
}
/* 3번 라인 */
.info_icon_area ul > li:nth-child(3n) .info_detail_box {
	left:auto;
	right:0;
	margin-left:0;
	margin-right:0;
}
.info_icon_area ul > li:nth-child(3n) .info_detail_box:after {
	left:auto;
	right:11%;
}

.info_icon_area > ul > li:hover .info_detail_box {
	display:block;
}
.info_detail_box {
	display:none;
	position:absolute;
	left:0;
	top:100%;
	padding-top:10px;
	z-index:3000;
}
.info_detail_box:after {
	content:" ";
	position:absolute;
	top:2px;
	left:12%;
	display:inline-block;
	width:15px;
	height:15px;
	background-color:#fff;
	border:solid 1px #7053ff;
	border-bottom:0;
	border-right:0;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}
.info_detail_box .box_inner {
	width:344px;
	border: 1px solid #7053FF;
	border-radius:4px;
	padding:25px;	
	text-align:left;
	background-color:#fff;
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.info_detail_box .tit {
	display:block;
	font-size:14px;
	font-weight:600;
	color:#4A4A4A;
	line-height:16px;
}
.info_detail_box .tit em {
	display:inline-block;
	font-weight:300;
	margin-left:3px;
}
.rnd_step_line {
	margin-top:20px;
}
.rnd_step_line ol {
	position:relative;
	display:table;
	width:100%;
	border-top: 1px solid #979797;
}
.rnd_step_line ol li {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:5em;
	text-align:center;
	padding-top:12px;
}
.rnd_step_line ol li:after {
	content:" ";
	position:absolute;
	top:-9px;
	left:50%;
	margin-left:-9px;
	width:17px;
	height:17px;
	background-color:#D8D8D8;
	border-radius:100%;
	border:solid 2px #fff;
	box-sizing:border-box;
}
.rnd_step_line ol li:first-child:before,
.rnd_step_line ol li:last-child:before {
	content:" ";
	position:absolute;
	top:-1px;
	left:0;
	width:50%;
	height:1px;
	background-color:#fff;
}
.rnd_step_line ol li:last-child:before {
	left:auto;
	right:0;
}
.rnd_step_line ol li,
.rnd_step_line ol li em {
	position:relative;
	font-size:12px;
	font-weight:300;
	line-height:16px;
	color:#4A4A4A;
}
.rnd_step_line ol li strong {
	position:absolute;
	display:block;
	width:100%;
	bottom:0px;
	font-size:14px;
	color:#000;
	line-height:16px;
	text-align:center;
}
.rnd_step_line ol li.active em {
	font-size:12px;
	font-weight:600;
	color:#4A4A4A;
}
.rnd_step_line ol li.active:after {
	background-color:#FF7626;
}
.active_caption ol li {
	padding-bottom:30px;
}
.add_title {
	padding-top:65px;
}
.add_title ol li {}
.add_title ol li .tit_img {
	position:absolute;
	bottom:100%;
	width:100%;
	margin-bottom:15px;
	text-align:center;
}
.icon_title {
	text-align:center;
}
.icon_title li {
	display:inline-block;
	width:30%;
}
.icon_title li img {
	display:block;
	margin:20px auto 0;
}
.icon_title li span {
	display:block;
	font-size:12px;
	line-height:30px;
	color:#4A4A4A;
}
.info_msg_short {
	font-size:12px;
	color:#000;
	line-height:18px;
	margin:25px 0 0;
	text-align:center;
}
.info_msg_long {
	font-size:12px;
	line-height:18px;
	color:#4A4A4A;
	text-align:justify;
	margin:20px 0 10px;
}
.info_msg_long strong {
	display:block;
	font-size:12px;
	font-weight:600;
	line-height:22px;
	color:#4A4A4A;
}
.info_msg_long strong em {
	font-weight:300;
}

/* Share Your Gurufit */
.share_your_gurufit {}
.share_your_gurufit h2 {
	display:inline-block;
	font-size:24px;
	font-family: 'texgyreadventorbold_italic';
	text-align:left;
	letter-spacing:0.5px;
	color:#232122;
	vertical-align:middle;
}
.share_your_gurufit .share_head {
	padding:45px 0;
}
.share_your_gurufit .share_head > a {
	float:right;
}
.share_your_gurufit .hash_list {
	display:inline-block;
	font-size:0;
	margin-left:27px;
	vertical-align:middle;
}
.share_your_gurufit .hash_list li {
	display:inline-block;
	margin-right:20px;
	vertical-align:middle;
}
.share_your_gurufit .hash_list li a {
	display:block;
	font-size:14px;
	line-height:24px;
	color:#9b9b9b;
	border-radius: 5px;
	border: solid 1px #d8d8d8;
	padding:2px 20px;
	box-sizing:border-box;
}
.share_your_gurufit .hash_list li.active a,
.share_your_gurufit .hash_list li:hover a {
	background-color:#F5A623;
	border-color:#F5A623;
	color:#fff;
}
.share_your_gurufit .photo_list {
	font-size:0;
}
.share_your_gurufit .photo_list li {
	display:inline-block;
}
.share_your_gurufit .photo_list li a {
	display:block;
}
.share_your_gurufit .photo_list li img {
	display:block;
	width:100%;
}


/* 상세페이지 네비게이터 */
.detail_nav {
	margin:80px 0 10px;
	border-bottom:solid 1px #f2eeea;
	overflow:hidden;
}
.detail_nav ul {
	overflow:hidden;
	float:left;
}
.detail_nav li {
	position:relative;
	margin-right:40px;
	padding:0 4px 12px;
	float:left;
}
.detail_nav li a {
	display:block;
	font-size:18px;
	color:#bbb;
	text-align:left;
	line-height:40px;
}
.detail_nav li:hover a,
.detail_nav li.active a {
	color:#000;
}
.detail_nav li:hover:after,
.detail_nav li.active:after {
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	color:#000;
	line-height:81px;
	border-bottom:solid 3px #000;
	box-sizing:border-box;
}
.detail_nav a.nav_btn {
	float:right;
}

/* 상품 리뷰 */
#productReview {}
#productReview h3 {
	font-size:20px;
	font-weight:400;
	text-align:left;
	line-height:29px;
	color:#333;
	clear:both;
	padding:40px 0 30px;
}
#productReview .null_cont_box {
	padding:120px 0 100px;
}
#reviewBestGauge {}
#reviewBestGauge .step_gauge {
	width:319px;
}

/* 관련 컨텐츠 */
#relatedContent {}
#relatedContent .detail_nav {
	margin-bottom:60px;
}












